body {
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

.start {
    position: absolute;
    top: 200px;
    padding: 0 250px;
    text-align: center;
    font-size: 3.0em;
    color: hsl(0, 0%, 20%);
}

.start p:nth-child(2) {
    color: hsl(0, 0%, 50%);
    font-size: 0.7em;
}

.countdown {
    display: none;
    position: absolute;
    font-size: 18.0em;
    text-align: center;
    top: 150px;
    width: 100%;
    color: hsl(0, 70%, 30%);
    font-weight: bold;
    margin: 0 auto;
}

.cranking {
    display: none;
    background: url('../img/logo.png') no-repeat 50px 30px;
    height: 100%;
}

.result {
    display: none;
    position: absolute;
}

.result .crank-output {
    position: absolute;
    background: #ad3526;
    border-radius: 20px;
    width: 420px;
    height: 320px;
    top: 0;
    left: 75px;
}

.result .crank-output h3 {
    text-align: center;
    color: #dddd66;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: #cccccc 1px dotted;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.result .crank-output div {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.result .crank-output span.watts {
    font-size: 11.0em;
    font-weight: bold;
    line-height: 1.0em;
}

.result .crank-output div:nth-child(3) {
    border-top: #cccccc 1px dotted;
    padding-top: 20px;
}

.result .solar-output {
    position: absolute;
    top: 340px;
    left: 75px;
    width: 400px;
    padding: 0 10px;
}

.result label {
    float: right;
    display: block;
    color: #666666;
    font-size: 1.1em;
}

.result .solar-comparison {
    float: right;
    color: #114950;
    padding-top: 8px;
    padding-left: 40px;
    font-size: 0.9em;
    background: url('../img/icon-sun.png') no-repeat top left;
    margin: 5px 10px 0;
    min-height: 33px;
}

.result .iphone {
    position: absolute;
    top: 0;
    left: 515px;
    width: 590px;
    height: 160px;
    padding-left: 100px;
    background-image: url('../img/icon-phone.png');
    background-repeat: no-repeat;
    background-position: top left;
    border-bottom: #666666 1px dotted;
}

.result .iphone div:nth-child(1) {
    font-size: 2.0em;
    color: #114950;
}

.result .iphone div:nth-child(1) span,
.result .fridge div:nth-child(1) span,
.result .roadster div:nth-child(1) span {
    font-size: 2.0em;
    font-weight: bold;
}

.result .fridge {
    position: absolute;
    top: 170px;
    left: 515px;
    width: 590px;
    height: 160px;
    padding-right: 100px;
    background: url('../img/icon-fridge.png') no-repeat top right;
    border-bottom: #666666 1px dotted;
}

.result .fridge div:nth-child(1) {
    float: left;
    font-size: 2.0em;
    color: #114950;
    padding-right: 20px;
    height: 160px;
    line-height: 160px;
}

.result .fridge label {
    width: 420px;
    margin-top: 20px;
}

.result .fridge .solar-comparison {
    width: 380px;
}

.result .roadster {
    position: absolute;
    top: 340px;
    left: 515px;
    width: 500px;
    height: 150px;
    padding-left: 200px;
    background: url('../img/icon-car.png') no-repeat center left;
    border-bottom: #666666 1px dotted;
}

.result .roadster div:nth-child(1) {
    float: left;
    font-size: 2.0em;
    color: #114950;
    padding-right: 20px;
    height: 120px;
    margin-top: 30px;
}

.result .roadster label {
    width: 340px;
    margin-top: 20px;
}

.result .roadster .solar-comparison {
    width: 300px;
}

.result .power-graph {
    position: absolute;
    width: 1140px;
    height: 200px;
    top: 500px;
    left: 70;
    border: 1px solid blue;
}

.timer {
    position: absolute;
    top: 30px;
    right: 50px;
    color: hsl(0, 30%, 70%);
    font-size: 4.0em;
    font-weight: bold;
    text-align: right;
    line-height: 115px;
}

.timer span:nth-child(1) {
    color: hsl(0, 30%, 40%);
    font-size: 1.3em;
}

.spinner {
    position: absolute;
    width: 100%;
    bottom: -600px;
}

.spinner .circle {
    position: relative;
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    -webkit-transform: rotate(0);
    -webkit-transition: -webkit-transform 500ms;
}

.spinner .circle .half-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 600px;
    background: hsl(0, 0%, 90%);
    -webkit-border-radius: 600px 600px 0 0;
}

.spinner .circle .half-bottom {
    position: absolute;
    top: 600px;
    left: 0;
    width: 1200px;
    height: 600px;
    background: hsl(120, 50%, 50%);
    -webkit-border-radius: 0 0 600px 600px;
    -webkit-transition: background 500ms;
}

.spinner .circle .center {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 800px;
    height: 800px;
    background: hsl(0, 0%, 100%);
    -webkit-border-radius: 399px;
}

.spinner .value {
    position: absolute;
    bottom: 650px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    font-size: 15.0em;
    font-weight: bold;
    text-align: center;
}

.spinner .label {
    position: absolute;
    bottom: 625px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    font-size: 4.0em;
    font-weight: bold;
    text-align: center;
    color: hsl(0, 0%, 30%);
}

.result { display: block; }
.start { display: none; }
