<!doctype html>

<html lang="en" class="ideas recent list">
    <meta charset="utf-8">
    {% block meta %}
    {% endblock meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
    <body>
    <div id="header">
    	<h1>The <a href="http://www.nelson-atkins.org/art/exhibitions/worldsfairs/sun-pavilion.html">Sun Pavilion</a> at the Nelson-Atkins Museum of Art</h1>
    </div>
    
    <div id="container">
        {% block content %}
        {% endblock content %}
        <div id="moonshot"><a href="http://moonshot.barkleyus.com/">Created by Moonshot - Barkley Labs</a></div>
		
	</div>
        
        <script type="text/javascript">
          function record_outbound_link(link, category, action) {
            _gat._getTrackerByName()._trackEvent(category, action);
            setTimeout('document.location = "' + link.href + '"', 100);
          }

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30495437-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

          {% if qr_ref %}
              _gaq.push(['_trackEvent', "QR Code", "{{ qr_action }}"]);
          {% endif %}

        </script>
    </body>
</html>
