{% extends "base.html" %}

{% block content %}
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(drawVisualization);
        function drawVisualization() {
            var data = new google.visualization.DataTable();
            data.addColumn('timeofday', 'x');
            data.addColumn('number', 'Power');

            {% for solar_reading in solar_readings %}
            data.addRow([[{{ solar_reading.read_time.hour }}, {{ solar_reading.read_time.minute }}, 0, 0], {{ solar_reading.power }}]);
            {% endfor %}
           
            new google.visualization.LineChart(
                document.getElementById('visualization')).draw(data, {
                    title: "Today's Power Output",
                    curveType: 'function',
                    legend: {
                        position: 'none'
                    },
                    height: 500,
                    fontName: 'Helvetica',
                    vAxis: {
                        maxValue: 200
                    }
                });
        }
    </script>
    <div id="reading">
        <p>The current power output of a single Sun Pavilion solar panel is:<p>
        <p class="power"><span>{{ current_reading }}</span> watts</p>
        <div id="visualization"></div>
    </div>
{% endblock content %}
