{% extends "base.html" %}

{% block content %}
<img id="infographic" src="{{ MEDIA_URL }}{{ result.graphic }}" alt="Nelson Sun Pavilion Infographic"></div>
        <div id="share">
		<ul>
			<li class="facebook"><a href="http://www.facebook.com/sharer/sharer.php?u={{ url|urlencode }}">Share on Facebook</a></li>
			<li class="twitter"><a href="http://twitter.com/?status=I generated an average of {{ result.average_power|floatformat:"0" }} watts of power cranking the hand crank at the Nelson-Atkins Sun Pavilion. {{ url|urlencode }}">Share on Twitter</a></li>
			<li class="email"><a href="mailto:?subject=My Hand Crank Power Generation at the Nelson-Atkins Sun Pavilion&body=I generated an average of {{ result.average_power|floatformat:"0" }} watts of power cranking the hand crank at the Nelson-Atkins Sun Pavilion. {{ url|urlencode }}">Share by Email</a></li>
		</ul>
{% endblock content %}
